.header {
  grid-area: h;
  background-color: green;
  border: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  padding-top: 17px;
}

.header img {
  width: 20px;
}

.loginBlock {
  text-align: right;
}

.loginBlock div {
  text-align: right;
  padding: 5px;
}

.loginBlock a {
  color: white;
}
