.header {
  grid-area: header;
  background-color: green;
  display: flex;
}

.header__img {
  width: 40px;
}

.loginBlock {
  margin-left: auto;
}

.loginBlock a {
  color: white;
  text-decoration: none;
}

