.content_img {
  width: 100%;
  height: 150px;
  background-size: cover;
}

.profileInfoWrap {
  padding: 15px;
}

.direction {
  display: flex;
  flex-direction: column;
}

.directionSecond {
  display: flex;
  align-items: center;
}

.small {
  width: 25px;
  height: 25px;
}

.roundPic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profileElems {
  padding: 15px;
}