// fonts
// 700
@mixin GilroyBold {
  font-family: GilroyBold;
}

// 400
@mixin GilroyRegular {
  font-family: GilroyRegular;
}

@mixin GilroyMedium {
  font-family: GilroyMedium;
}

@mixin GilroySemibold {
  font-family: GilroySemibold;
}

// align items center 
@mixin align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// shapes
@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

@mixin triangle($width, $dir, $color) {
  width: 0;
  height: 0;
  display: block;

  @if $dir==up {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  }

  @else if $dir==down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }

  @else if $dir==left {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  }

  @else if $dir==right {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }
}

%clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.hide {
  display: none !important; // for js
}

$base-font-size: 16px;

// pixel to rem
@function px-to-rem ($target, $context: $base-font-size) {
  @return ($target / $context) * 1rem;
}

// Media Queries
@mixin device {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

// tablets
@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin smallTablets {
  @media screen and (max-width: 600px) {
    @content;
  }
}

// phones sizes
@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin smallPhone {
  @media screen and (max-width: 320px) {
    @content;
  }
}

$textDark: #545980;
$textLight: #999DBF;
$white: #fff;

$buttonDark: #39438D;
$yellow: #FFB800;

$inputLight: #B8BDE7;
$inputGrey: #EAEAEA;
$inputDark: #4A4F75;

$green: #00B929;
$red: #F11111;

$bgLight: #E9FFE7;
$bgLightGrey: #EDEEF8;
$bgDarkGrey: #EAEAEA;


.sidebar {
  position: fixed;
  width: 475px;
  right: -100%;
  z-index: 10;
  transition: all right .3s;
  overflow-y: auto;
  min-height: 100%;

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;

    @media screen and (max-width: 480px) {
      padding-bottom: 40px;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 10px;

    h2 {
      @include GilroyBold;
      font-size: 20px;
      line-height: 130%;
      color: $inputDark;
    }
  }

  &__text {
    max-width: 207px;

    span {
      @include GilroyRegular;
      font-size: 14px;
      line-height: 140%;
      color: $inputDark;
    }
  }

  &--active {
    right: 0%;
    height: 100%;
    overflow-y: auto;
    top: 0;
    background: $white;
    z-index: 999;
    transition: right .3s;
  }

  &__list {
    top: 0;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    margin-top: 30px;

    @media (orientation: landscape) {
      padding-bottom: 40px;
    }
  }

  &__account {
    padding: 7px 20px;
    margin: 5px 0;

    a {
      text-decoration: underline;

      font-size: 14px;
      width: 100%;
      text-transform: uppercase;
      margin-right: 10px;
      display: flex;
      align-items: center;

    }

    img {
      margin-left: 10px;
      transform: rotate(180deg);
      max-width: 15px;
      max-height: 15px;
    }
  }

  &__info {
    padding: 0 20px;
    margin: 80px 0 0 0;

    span {
      font-size: 16px;
      width: 100%;

      margin-bottom: 10px;
      display: block;

    }

    a {
      font-size: 16px;
      width: 100%;

      text-decoration: none;
      margin-bottom: 5px;

    }

    p {

      font-size: 14px;
      width: 100%;

    }
  }

  &__schedule {
    padding: 0 20px;
    margin: 15px 0 0 0;

    p {

      font-size: 14px;
      width: 100%;
      margin-bottom: 3px;

    }

    &-dates {
      padding: 0 20px;
      margin: 15px 0 0 0;
      display: flex;
      flex-direction: column;

      span {


        font-size: 14px;
      }
    }
  }

  &__lang {
    padding: 0 20px;
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;

      font-size: 16px;

    }

    &-wrap {
      display: flex;
      align-items: center;

      span {

        font-size: 16px;

      }

      a {

        font-size: 16px;

      }
    }
  }

  &__languages {
    width: 100%;
    margin-top: auto;

    @media screen and (max-width: 320px) {
      margin-top: 70px;
    }

    @media (orientation: landscape) {
      margin-top: 70px;
    }

    &-wrap {

      padding: 10px 20px;
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

      }
    }
  }

  .sidebar__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      flex-direction: column;
      text-decoration: underline;
      @include GilroyRegular;
      font-size: 14px;
      line-height: 16px;
      color: $textDark;
    }

    img {
      order: -1;
      margin-bottom: 10px;
      max-width: 15px;
      max-height: 15px;
    }

    span {
      order: -1;
      text-align: center;
      @include GilroyRegular;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: $textDark;
      text-decoration: none;
      margin-bottom: 5px;
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
    }
  }
}

.sidebar-bg {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 102, 0.8);
    z-index: 11;
  }
}

.sidebar-close {
  padding: 15px 20px;
  text-align: right;
  cursor: pointer;
}

.sidebar__languages-list {
  .sidebar__languages-item {
    span {

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      text-transform: uppercase;
    }

    .item-active {

      font-style: normal;
      font-size: 14px;
      line-height: 17px;

    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: grid;
  grid-template-areas: "header header header" "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: pink;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.menu-btn {
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
  height: 30px;
  width: 25px;
  overflow: hidden;
  display: none;

  @include phones {
    width: 19px;
  }

  @include tablets {
    display: flex;
  }

  @media screen and (max-width: 1200px) {
    &--main {
      display: flex;
    }
  }

  &__burger {
    height: 2px;
    background-color: $white;
    border-radius: 0;
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    width: 25px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 25px;
      background-color: $white;
      border-radius: 5px;
      transition: all .3s ease-in-out;
      background-repeat: no-repeat;
    }
  }
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-53px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-repeat: no-repeat;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
